body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
}

header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.download {
    color: aquamarine;
    font-size: 16px;
}


h1 {
    font-weight: 300;
    font-size: 42px;
    color:white;
}

p {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}